@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*common css part*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.none{display: none;
}
/*menubar css part start*/
#navbar{
    width: 1195px;
    margin: 0 auto;
}
.nav_title{
    display: flex;
    margin-top: 52px;
    margin-bottom: 49px;
}
.nav_logo{
    display: flex;
}
.nav_logo img{
    width: 48px;
    height: 56px;
    margin-right: 16px;
}
.nav_title h3{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin-right: 298px;
}
.nav_title span{
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-weight: 800;
}
.nav_main ul li{
    list-style: none;
    float: left;
}
.nav_main ul li a{
    color:#424247;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-right: 40px;
    text-decoration: none;
    transition: all linear.3s;
}
.nav_main ul li a:hover{
    color: #FF5400;
}
/*banner css part start*/
#banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1195px;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    padding-bottom: 100px; 
    margin-bottom: 100px;
}
.banner_text h2{
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}
.banner_text p{
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 48px;
}
.banner_back{
    width: 800px;
    height: 84px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: 215px;
    padding: 16px;   
}
.banner_back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.banner_text_1 input{
    width: 165px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
.banner_text_1 ::placeholder{
    width: 85px;
    height: 20px;
    color: rgba(19, 19, 24, 0.50);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}
.banner_button button{
    width: 165px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
/*popular tour css part start*/
#tour{
    width: 1195px;
    margin: 0 auto;
}
.popular_text h2{
    color: #131318;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}
.popular_text p{
    color: rgba(19, 19, 24, 0.70);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}
.popular_text ul li p{
    color: rgba(19, 19, 24, 0.70);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
}
.popular_last p{
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 24px;
}
.popular_button button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}
.popular_main{
    display: flex;
    gap: 24px;
}
.popular_image{
    border-radius: 16px;
}
/*destination css part start*/
#destination{
    width: 1195px;
    margin: 0 auto;
}
.destination_text h2{
    color: #131318;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.destination_text p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
}
.grid_item{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 24px;
}
.grid_item img{
    width: 100%;
    height: 100%;
}
.grid_image_1{
    grid-column: 1/span 6;
}
.grid_image_2{
    grid-column: 7/span 12;
}
.grid_image_3{
    grid-column: 1/span 3;
}
.grid_image_4{
    grid-column: 4/span 6;
}
.grid_image_5{
    grid-column: 10/span 3;
}
.grid_image_6{
    grid-column: 1/span 5;
}
.grid_image_7{
    grid-column: 6/span 7;
}
/*choose us css part start*/
#choose{
    width: 1195px;
    margin: 0 auto;
}
.choose_text h2{
    color: #131318;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 24px;
    text-align: center;
}
.choose_text p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}
.card_section{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.card_1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card_1 img{
    width: 64px;
    height: 64px;
    padding-left: 32px;
    padding-top: 32px;
}
.card_1 h4{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
    padding-top: 32px;
}
.card_1 p{
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 32px;
    padding-top: 16px;
}
.card_2{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card_2 img{
    width: 64px;
    height: 64px;
    padding-left: 32px;
    padding-top: 32px;
}
.card_2 h4{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
    padding-top: 32px;
}
.card_2 p{
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 32px;
    padding-top: 16px;
}
.card_3{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-left: 350px;
    margin-bottom: 100px;
    
}
.card_3 img{
    width: 64px;
    height: 64px;
    padding-left: 32px;
    padding-top: 32px;
}
.card_3 h4{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
    padding-top: 32px;
}
.card_3 p{
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 32px;
    padding-top: 16px;
}
/*selected destination css part start*/
#selected_destination{
    width: 1195px;
    margin: 0 auto;
}
.destination_text h2{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.destination_text p{
    color: rgba(19, 19, 24, 0.70);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.destination_main{
    display: flex;
    gap: 30px;
}
.destination_image{
    margin-bottom: 100px;
}
/*subscribe css part start*/
#subscribe{
    width: 1195px;
    margin: 0 auto
}
.subscribe_main{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.letter{
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}
.letter h4{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 16px;
}
.letter p{
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.letter input{
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 16px 20px;
    margin-top: 16px;
}
.letter ::placeholder{
    color: rgba(19, 19, 24, 0.30);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.subscribe_button button{
    width: 100%;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    border: none;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
    padding: 15px;
}
.subscribe_image{
   background: url(../Images/Rectangle\ 8\ \(1\).png);
   width: 56%;
   background-repeat: no-repeat;
   border-radius: 16px;
}
.subs_text{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    top: 57%;
    left: 51%;
}
.subs_text h4{
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: 16px;
}
.subs_text h3{
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 16px;
}
/*footer css part start*/
#footer{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}
.footer_text{
    padding-top: 110px;
    display: flex;
    margin-left: 500px;
}
.footer_logo img{
    width: 40px;
    height: 46px;
    margin-right: 16px;
}
.footer_text h3{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;

}
.footer_text span{
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.footer_para p{
    color: #5A5A5D;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 32px;
}
.footer_icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}
.line{
    height: 1px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
    margin-bottom: 50px;
}
.copyright{
    color: #131318;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 110px;
}

/*responsive css part start*/
@media screen and (max-width:576px){
    .nav_title{
        flex-direction: column;
    }
    #navbar{
        width:100%
    }
    #banner{
        width: 100%
    }
    .banner_text h2{
        font-size: 22px;
    }
    .banner_text p{
        font-size: 14px;
    }
    .banner_back{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0;
        width: 80%;
        margin: 0 auto;
    }
    .nav_title h3{
        font-size: 22px;
    }
    .nav_title span{
        font-size: 22px;
    }
    #tour{
        width: 100%;
    }
    .popular_main{
        flex-direction: column;
    }
    .popular_text h2{
        font-size: 20px;
    }
    .popular_text p{
        font-size: 14px;
    }
    .popular_image{
        width: 100%;
    }
    .popular_button button{
        font-size: 20px;
    }
    #destination {
        width: 100%;
    }
    .destination_text h2{
        font-size: 20px;
        margin-top: 24px;
    }
    .destination_text p{
        font-size: 14px;
    }
    #choose{
        width: 100%;
    }
    .choose_text h2{
        font-size: 20px;
    }
    .choose_text p{
        font-size: 14px;
    }
    .card_section{
        flex-direction: column;
    }
    .card_1{
        width: 100%;
    }
    .card_1 h4{
        font-size: 20px;
    }
    .card_1 p{
        width: 100%;
        font-size: 14px;
    }
    .card_2{
        width: 100%;
    }
    .card_2 h4{
        font-size: 20px;
    }
    .card_2 p{
        width: 100%;
        font-size: 14px;
    }
    #selected_destination{
        width: 100%;
    }
    .destination_main{
        flex-direction: column;
    }
    #footer{
        width: 100%;
    }
    .footer_para p{
        font-size: 14px;
    }
    .line{
        width: 100%;
    }

    
    
    


















































